<div class="slds-align_absolute-center">
    <div class="slds-size_8-of-12 ">
        <div class="slds-section slds-is-open">
            <h3 class="slds-section__title slds-theme_shade">
                <span class="slds-truncate slds-p-horizontal_small" title="Experts Baseline App">Your Apps</span>
            </h3>
            <div class="slds-align_absolute-center slds-m-top_small">
                <div aria-hidden="false" class="slds-section__content">
                    <p>This app functions as the baseline design standard for MCA apps. It's built leveraging the <a
                            href="https://www.lightningdesignsystem.com/">Salesforce Lightning Design System</a> (SLDS).
                        Leverage the content, components, and utilities available from SLDS to quickly define the UI.
                    </p>
                    <hr>
                </div>
            </div>
            <div>
                <table class="slds-table slds-table_cell-buffer slds-table_bordered" aria-label="Example default base table of Opportunities">
                    <thead>
                        <tr class="slds-line-height_reset">
                            <th class="" scope="col">
                                <div class="slds-truncate" title="Opportunity Name">App Icon</div>
                            </th>
                            <th class="" scope="col">
                                <div class="slds-truncate" title="Account Name">App Name</div>
                            </th>
                            <th class="" scope="col">
                                <div class="slds-truncate" title="Close Date">Description</div>
                            </th>
                            <th class="" scope="col">
                                <div class="slds-truncate" title="Stage">Activity URL</div>
                            </th>                            
                            <th>
                                <div class="slds-truncate" title="Stage">Edit</div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(var i=0; i < jbApps.length; i++){%>                            
                            <tr class="slds-hint-parent">
                                <th data-label="App Icon" scope="row">
                                    <div class="slds-truncate" title="AppIcon">
                                        <img style="width:100px;" src="data:image/png;base64, <%= jbApps[i].imageData %>" alt="Alt Text" />
                                    </div>
                                </th>
                                <td data-label="Account Name">
                                    <span id="appName_label_<%= jbApps[i].id %>"><%= jbApps[i].name %></span>
                                    <span id="appName_input_<%= jbApps[i].id %>" class="slds-hidden">                                                                        
                                        <input type="text" id="appName" name="appName" class="slds-input" placeholder="" required="" value="<%= jbApps[i].name %>" />                                        
                                    </span>
                                </td>
                                <td data-label="Account Name">
                                    <span id="appDesc_label_<%= jbApps[i].id %>"><%= jbApps[i].description %></span>
                                    <span id="appDesc_input_<%= jbApps[i].id %>" class="slds-hidden">                                                                        
                                        <input type="text" id="appDescription" name="appDescription" class="slds-input" placeholder="" required="" value="<%= jbApps[i].description %>" />                                        
                                    </span>
                                    
                                </td>
                                <td data-label="Prospecting">
                                    <div class="slds-truncate" title="Prospecting">https://experts-jb-activity-lib.herokuapp.com/jbActivity/restActivity/<%= jbApps[i].name %></div>
                                </td>              
                                <td>
                                    <span id="app_<%= jbApps[i].id %>" class="slds-icon_container slds-icon-utility-save editIcon" title="Description of icon when needed">
                                        <svg id="appIcon_<%= jbApps[i].id %>" class="slds-icon slds-icon-text-default" aria-hidden="true">
                                          <use href="/assets/icons/utility-sprite/svg/symbols.svg#edit"></use>
                                        </svg>
                                        <span class="slds-assistive-text">Description of icon when needed</span>
                                      </span>
                                </td>              
                            </tr>  
                        <%}%>                      
                    </tbody>
                </table>                
            </div>
        </div>
    </div>
</div>