<div class="slds-context-bar">
  <div class="slds-context-bar__primary">
    <div
      class="slds-context-bar__item slds-context-bar__dropdown-trigger slds-dropdown-trigger slds-dropdown-trigger_click slds-no-hover">
      <div class="slds-context-bar__icon-action">
        <button class="slds-button slds-icon-waffle_container slds-context-bar__button"
          title="Description of the icon when needed">
          <span id="waffleMenuButton" class="slds-icon-waffle">
            <span class="slds-r1"></span>
            <span class="slds-r2"></span>
            <span class="slds-r3"></span>
            <span class="slds-r4"></span>
            <span class="slds-r5"></span>
            <span class="slds-r6"></span>
            <span class="slds-r7"></span>
            <span class="slds-r8"></span>
            <span class="slds-r9"></span>
          </span>
          <span class="slds-assistive-text">Open App Launcher</span>
        </button>
      </div>
      <span class="slds-context-bar__label-action slds-context-bar__app-name">
        <span title="App Name">
          <%= appName %>
        </span>
      </span>
    </div>
  </div>
  <nav class="slds-context-bar__secondary" role="navigation">
    <ul class="slds-grid">
      <li class="slds-context-bar__item slds-is-active">
        <a href="#" class="slds-context-bar__label-action" title="Home">
          <span class="slds-assistive-text">Current Page:</span>
          <span class="slds-truncate" title="Home">Home</span>
        </a>
      </li>
      <% for(var i=0; i < navItems.length; i++){%>
        <li class="dduMenuWrapper slds-context-bar__item slds-context-bar__dropdown-trigger slds-dropdown-trigger slds-dropdown-trigger_click">
          <a href="#" class="slds-context-bar__label-action" title="Menu Item">
            <span class="slds-truncate" title="<%= navItems[i].text %>"><%= navItems[i].text %></span>
          </a>
          <div class="dduNavHeader slds-context-bar__icon-action slds-p-left_none">
            <button class="slds-button slds-button_icon slds-button_icon slds-context-bar__button" aria-haspopup="true"
              title="Open <%= navItems[i].text %> submenu">
              <svg class="slds-button__icon" aria-hidden="true">
                <use xlink:href="/slds/assets/icons/utility-sprite/svg/symbols.svg#chevrondown"></use>
              </svg>
              <span class="slds-assistive-text">Open <%= navItems[i].text %> submenu</span>
            </button>
          </div>
          <div class="dduNavContainer slds-dropdown slds-dropdown_right">
            <ul class="slds-dropdown__list" role="menu">
              <% for(var j=0; j < navItems[i].children.length; j++){%>
                <li class="slds-dropdown__item" role="presentation">
                  <a href="<%= navItems[i].children[j].url %>" role="menuitem" tabindex="-1">
                    <span class="slds-truncate" title="<%= navItems[i].children[j].text %>">
                      <%= navItems[i].children[j].text %>
                    </span>
                  </a>
                </li>
                <% } %>
            </ul>
          </div>
        </li>
      <% } %>      
    </ul>
  </nav>
  <!-- User Icon & Count -->
  <span class="slds-icon_container slds-icon-utility-announcement">
    <svg class="slds-icon slds-icon-text-success slds-icon_small slds-m-top_xx-small slds-m-right_small"
      aria-hidden="true">
      <use xlink:href="/slds/assets/icons/utility-sprite/svg/symbols.svg#user"></use>
    </svg>
  </span>

  <div class="slds-m-right_large slds-m-top_x-small">
    <p class="slds-text-color_success" id="userCount">
      <input type="hidden" id="currentUser" value="<%= UserEmail %>" />
      <%= UserEmail %>
    </p>
  </div>
  <!-- /User Icon & Count -->
</div>